@use '@/src/styles/tokens.scss' as tokens;
@use '@/src/styles/mixins.scss' as mixins;

.submit {
  width: fit-content;

  font-size: tokens.$font-size-sm;
  font-weight: tokens.$font-weight-normal;

  border-radius: var(--radius-sm);

  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}