@use '@/src/styles/tokens.scss' as tokens;
@use '@/src/styles/mixins.scss' as mixins;

.header {
    // size
    width: 70%;
    height: tokens.$header-height;

    // position
    position: fixed;
    top: 0;
    left: 50%;
    z-index: tokens.$z-index-sticky;

    // display
    @include mixins.flex(row, space-between, center, nowrap, tokens.$spacing-16);

    // decoration
    background-color: var(--background);
    transform: translateX(-50%);

    .brand {
        .logo {
            // decoration
            font-size: tokens.$font-size-base;
            font-weight: tokens.$font-weight-medium;
            line-height: tokens.$line-height-normal;
            color: var(--foreground);
            text-decoration: none;
        }
    }

    .actions {
        // display
        @include mixins.flex(row, flex-end, center, nowrap, tokens.$spacing-6);

        .routes {
            // display
            @include mixins.flex(row, flex-start, center, nowrap, tokens.$spacing-4);

            .route {
                // decoration
                font-size: tokens.$font-size-sm;
                line-height: tokens.$line-height-normal;
                color: var(--muted-foreground);
                text-decoration: none;

                // transition
                transition: color 0.2s ease;

                &:hover {
                    // decoration
                    color: var(--foreground);
                }
            }
        }
    }
}

@include mixins.down(md) {
    .header {
        width: 100%;
    }
}