@use '@/src/styles/tokens.scss' as tokens;
@use '@/src/styles/mixins.scss' as mixins;

.container{
    // size
    width: 70%;
    min-height: 100dvh;

    .main{
        // size
        width: 100%;
        min-height: 100dvh;

        // margin
        padding-top: calc(tokens.$header-height + tokens.$spacing-4);

        // display
        @include mixins.flex(column, flex-start, center);
    }
}