@use '@/src/styles/tokens.scss' as tokens;
@use '@/src/styles/mixins.scss' as mixins;

.container{
    // size
    width: 70%;

    // display
    @include mixins.flex(column, flex-start, stretch, nowrap, 0);

    .main{
        // size
        width: 100%;

        // position
        position: relative;

        // display
        @include mixins.flex(column, flex-start, center);
    }
}

@include mixins.down('md'){
    .container{
        // size
        width: 80%;
    }
}

@include mixins.down('sm'){
    .container{
        // size
        width: 90%;
    }
}