@use '@/src/styles/tokens.scss' as tokens;
@use '@/src/styles/mixins.scss' as mixins;

.container{
    // size
    width: 100%;
    min-height: calc(100dvh - tokens.$header-height - tokens.$spacing-10);

    // display
    @include mixins.flex(
        column,
        center,
        center
    );

    // margin
    padding-top: tokens.$spacing-10;
}